<app-header></app-header>

<div class="body">
    <div class="excel-download">
        <img src="./assets/excel-download.png" alt="">
    </div>
    <div class="announce">
        <p class="txt-announce">Your merged file is ready</p>
    </div>
    <div class="download">
        <button class="btn-download" (click)="onDownloadClick()">Download</button>
    </div>
    <div class="start-over">
        <a routerLink="" routerLinkActive="active">
            <button class="btn-start-over">Start over</button>
        </a>
    </div>

</div>

<app-footer></app-footer>